
@{
    ViewBag.Title = "Info";
}

<div class="jumbotron">
    <h1>Info side</h1>
    <p>For at udlåne komponent:</p>
    <hr />
    <p>- Log ind</p>
    <p>- Opret studerende</p>
    <p>- Opret kategori</p>
    <p>- Opret komponent</p>
    <p>- Opret nummer og serienr</p>
    <p>- Gå til </p>
    <ol class="breadcrumb">
        <li>Unikke Komponenter</li>
        <li>Detaljer</li>
        <li>Udlån</li>
    </ol>
</div>
